body {
  margin: 0;
  font-family: Arial;
}

ul {
  list-style: none;
}

.highlighted-entry {
  background: #e4e4e4;
}

form {
  width: 50vw;
}

.droopy-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-left: 25vw;
  margin-top: 25vw;
}

.droopy-input {
  position: relative;
  width: 50vw;
  padding: 10px;
  font-size: 18px;
  border-color: lightgray;
  border-radius: 8px;
  border-style: solid;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.droopy-input:focus {
  outline: none;
}

.droopy-input:focus-visible::after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  border: 1px solid green;
}

.droopy-dropdown {
  position: absolute;
  width: 100%;
  top: 96%;
  padding-bottom: 16px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.dropdown-entry-list {
  padding: 0;
  margin: 0;
}

.dropdown-entry-header {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

.dropdown-entry {
  padding: 8px;
}
